# Discord Selfbot Multi-Account Configuration
# Enter 1 or multiple tokens separated by commas:
DISCORD_TOKENS=YOUR_TOKEN_1, YOUR_TOKEN_2, YOUR_TOKEN_3

# Or single token format:
DISCORD_TOKEN=YOUR_TOKEN_1

PREFIX=$
APPLICATION_ID=1541749570071957565
